@model WIM_MVC.Models.ResetPasswordModel

@{
    ViewBag.Title = "Cấp mật khẩu mới";
}

<h3>@ViewBag.Title</h3>
<p>Tên đăng nhập <strong>@ViewBag.UserAccount.UserName</strong>.</p>
<p>Họ tên <strong>@ViewBag.UserAccount.LastName @ViewBag.UserAccount.FirstName</strong>.</p>

<div class="row">
    <div class="col-md-12">
@using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <hr />

    <input type="hidden" name="UserId" value="@ViewBag.UserAccount.Id" />

    <div class="form-group">
        @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
            @*<input class="form-control" data-val="true" data-val-length="Mật khẩu mới phải có ít nhất 6 ký tự." data-val-length-max="100" data-val-length-min="6" data-val-required="Vui lòng nhập Mật khẩu mới." id="NewPassword" name="NewPassword" type="password" />*@
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            @*<input class="form-control" data-val="true" data-val-equalto="&#39;Xác nhận mật khẩu mới&#39; không trùng khớp." data-val-equalto-other="*.NewPassword" id="ConfirmPassword" name="ConfirmPassword" type="password" />*@
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Đổi mật khẩu" class="btn btn-default" onclick="showWaiting();" />
            @Html.ActionLink("Trở về", "Index")
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            @Html.ValidationSummary()
        </div>
    </div>
}

    </div>
</div>

<div class="col-md-offset-2 col-md-10">
    <p class="text-success">@ViewBag.StatusMessage</p>
</div>


    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
        <script type="text/javascript">
            function showWaiting() {
                var validate = $('#NewPassword').val() != '' && $('#NewPassword').val().length >= 6;
                validate = validate && $('#NewPassword').val() === $('#ConfirmPassword').val();
                if (validate) {
                $('.overlay').show();
                $('.waiting').show();
            }
        }
        </script>
    }


